{% extends 'base.html' %}

{% block title %}
Task Page
{% endblock %}

{% block content %}

<body class="text-center">
    <div class="container">
        <form method="post" class="form-signin" style="color:white;width: 70%;margin: auto;">
            {{ task_form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                <br>
                <br>
                Welcome, {{ current_user.username }}
            </h1>
            <p class="lead font-weight-normal">With consistency and reps and routine you're going to achieve your goals and get where you want to be.</p>
            <br>
            {{ task_form.title.label() }}
            {{ task_form.title(class="form-control", placeholder="Title") }}
            {{ task_form.desc.label() }}
            {{ task_form.desc(class="form-control", placeholder="Description") }}
            <br>
            {{ task_form.submit(class="btn btn-lg btn-block btn-primary")}}
        </form>
        <br>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">SNo</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date and Time</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                {% for task in current_user.tasks %}
                {% include 'includes/modal_update_delete_clear.html' %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.desc }}</td>
                    <td>{{ task.date }}</td>
                    <td>

                        <button class="btn btn-outline btn-outline-danger" data-toggle="modal"
                            data-target="#Modal-delete-{{ task.id }}">Delete</button>
                        <button class="btn btn-outline btn-outline-success" data-toggle="modal"
                            data-target="#Modal-update-{{ task.id }}">Update</button>


                    </td>
                </tr>

                {% endfor %}
            </tbody>

        </table>
        <button class="btn btn-outline btn-outline-danger" data-toggle="modal" data-target="#ClearAll">Delete
            All</button>
    </div>
    

</body>

{% endblock %}